<style>

  .container{
    padding-top: 100px;
  }
</style>


<div class="container">
  <div class="row">
    <div class="col-sm-6"></div>
    <a href="#"  routerLink ="/"  class="btn btn-success">back to dashboard
    </a>
  </div>

  <div class="col-sm-6">
    <h3>Add Student</h3>

      <form novalidate #f="ngForm" (ngSubmit)="mySubmit(f)">
        <div class="form-group">
          <label for="firstName">FirstName : </label>
          <input type="email" class="form-control" name="firstName" [(ngModel)]="student.firstName"
          #studentFirstName="ngModel"
          required
          minlength="3">

        </div>
        <div class="form-group">
          <label for="lastName">lastName : </label>
          <input type="email" class="form-control" name="lastName" [(ngModel)]="student.lastName"
                 #studentLastName="ngModel"
                 required
                 >

        </div>
        <div class="form-group">
          <label for="email">Email : </label>
          <input type="text" class="form-control" name="email" [(ngModel)]="student.email"
                 #studentEmail="ngModel"
                 required
                >

        </div>




        <div class="form-group">
          <label for="phone">Phone: </label>
          <input type="text" class="form-control" name="phone" [(ngModel)]="student.phone"
                 #studentPhone="ngModel"
                 required
          >

        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
  </div>
</div>



















