<div class="row">
  <div class="col-sm-4">
    <a href="#"  routerLink ="/"  class="btn btn-success">back to dashboard
    </a>
  </div>

  <div class="col-sm-4">
     <a href="#"  [routerLink]="['/edit-student/'+student.$key]" class="btn btn-primary">Edit </a>
  </div>

 <div class="col-sm-4">
   <button (click)="myDelete()" class="btn btn-danger">Delete </button>

 </div>

</div>



<hr>
  <table class="table table-inverse"  >
    <thead>
    <tr>


      <th>ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Phone</th>

    </tr>
    </thead>
    <tbody>
      <th>{{student.$key}}</th>
      <th>{{student.firstName}}</th>
      <th>{{student.lastName}}</th>
      <th>{{student.email}}</th>
      <th>{{student.phone}}</th>




    </tbody>
  </table>



